<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear pago</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="btn-group btn-group-justified-sm">
      <a href="/medio-pago" class="btn btn-info">CREAR MEDIOS DE PAGO</a>
    </div>
    <a href="/inisesion" class="btn btn-info">Cerrar Sesión</a>

    <form action="/pago/agregar" method="post" class="col-6 mx-auto">
      <h2 class="text-center">Agregar Nueva Orden de Pago</h2>
      {% with messages = get_flashed_messages(category_filter=['orden']) %} {%
      if messages %}
      <div class="alert alert-danger" role="alert">
        <strong>Atencion!!!!</strong>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <div class="form-group">
        <label for="nro_factura">Numero de factura:</label>
        <input type="text" name="nro_factura" class="form-control" />
      </div>
      <div class="form-group">
        <label for="transaccion">Nro Transaccion:</label>
        <input type="text" name="transaccion" class="form-control" />
      </div>
      <div class="form-group">
        <label for="timbrado">Nro timbrado:</label>
        <input type="text" name="timbrado"  class="form-control" />
      </div>
      <div class="form-group">
        <label for="medio_pago_id">Medio de pago</label>
        <select class="form-control" name="medio_pago_id" >
          {%for med in medio %}
          <option value="" disabled selected hidden>Seleccionar Medio de pago</option>
          <option value="{{med.id}}">{{med.medio}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="ordenes_id">Ordenes</label>
        <select class="form-control" name="ordenes_id" >
          {%for orden in ordenes %}
          <option value="" disabled selected hidden>Seleccionar Orden</option>
          <option value="{{orden.id}}">{{orden.id}}</option>
          {% endfor %}
          
        </select>
      </div>
      <div class="form-group">
        <label for="total">Total</label>
        <input type="text" name="total" class="form-control" />
      </div>
      <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_business_client_id }}&currency={{ currency }}"></script>
    <!-- Set up a container element for the button -->
    <div class="d-flex align-content-stretch flex-wrap">
      <div class="card-body">
        <div id="paypal-button-container"></div>
        <script>
          paypal.Buttons({
              // Sets up the transaction when a payment button is clicked
              createOrder: (data, actions) => {
                  return actions.order.create({
                      purchase_units: [{
                          amount: {
                              value: '{{ price }}' // Can also reference a variable or function
                          }
                      }]
                  });
              },
              // Finalize the transaction after payer approval
              // Finalize the transaction on the server after payer approval
              onApprove: (data, actions) => {
                  return fetch(`/payment/${data.orderID}/capture`, {
                      method: "post",
                  })
                      .then((response) => response.json())
                      .then((orderData) => {
                          // Successful capture! For dev/demo purposes:
                          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                          const transaction = orderData.purchase_units[0].payments.captures[0];
                          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nTransacción completa`);
                          // When ready to go live, remove the alert and show a success message within this page. For example:
                          //const element = document.getElementById('paypal-button-container');
                          //element.innerHTML = '<p><h3><strong class="green_text"> Thank you for your payment! </strong></h3></p>';
                          //actions.redirect url_for('agradecimiento.html');
                      });
              }
          }).render('#paypal-button-container');
        </script>

      <input type="submit" value="Añadir Pago" class="btn btn-success" />

      <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nro factura</th>
                <th>fecha hora</th>
                <th>transaccion</th>
                <th>timbrado</th>
                <th>medio pago</th>
                <th>orden pago</th>
                <th>total</th>
            </tr>
        </thead>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.id }}</td>
            <td>{{ pago.nro_factura }}</td>
            <td>{{ pago.fecha_hora }}</td>
            <td>{{ pago.transaccion }}</td>
            <td>{{ pago.timbrado }}</td>
            <td>{{ pago.medio_pago_id }}</td>
            <td>{{ pago.ordenes_id }}</td>
            <td>{{ pago.total }}</td>

    
    
            <td>
               
                <a href="/pago/modificar/{{ pago.id }}">Modificar</a>
                <a href="/pago/eliminar/{{ pago.id }}">Eliminar</a>
                
            </td>
        </tr>
        {% endfor %}
    
    </table>
    </form>
  </body>
</html>
