<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Mostrar Resultados</title>
</head>

<body>
    <a href="/pagina1" class="btn btn-info">VOLVER A ACTIVIDADES</a>
    <a href="/inisesion" class="btn btn-info">Cerrar Sesión {{user.first_name}}</a>
    </div>
    <h1 class="text-decoration-none">Bienvenido a tu Página {{user.first_name}} {{user.last_name}}!!!</h1>

    <h2>DATOS DE LA ORDEN</h2>
    <div class="card-body border">
        <p><b>Fecha:</b>{{orden.id}}</p>
        <p><b>Fecha:</b>{{orden.fecha_time}}</p>
        <p><b>Hora:</b> {{orden.Nombre_Apellido_Clie}}</p>
        <p><b>Puntaje:</b> {{orden.service_name}}</p>
        <p><b>Duración:</b> {{orden.descripcion}}</p>
        <p><b>Duración:</b> {{orden.estado}}</p>
        <p><b>Duración:</b> {{orden.Nombre_Apellido_Usu}}</p>

   </div>

</body>

</html>