<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="btn-group btn-group-justified-sm">
    {% if user.level == 1 %}
        <a href="/servicio" class="btn btn-info">CREAR SERVICIOS</a>
        <a href="/cliente" class="btn btn-info">CREAR CLIENTES</a>
        <a href="/estado" class="btn btn-info">CREAR ESTADOS</a>
        <a href="/pagos" class="btn btn-info">CREAR PAGOS</a>
        <a href="/orden" class="btn btn-info">CREAR ORDENES</a>
        <a href="/registrar" class="btn btn-info">REGISTRAR USUARIO</a>
                  
    {% else %}
        {% if user.level == 2 %}
        <a href="/pagos" class="btn btn-info">CREAR PAGOS</a>
    {% else %}
    <a href="/orden_ope" class="btn btn-info">PROCESAR ORDEN</a>
    {% endif %}
    {% endif %}
    </div>
    <a href="/inisesion" class="btn btn-info">Cerrar Sesión {{user.first_name}}</a>

    <h1 class="text-decoration-none">Bienvenido!!! {{user.first_name}} {{user.last_name}}!!!</h1>
   
        

        <img src="/flask_app/static/img/imgprincipal.jpg" alt="Principal">

     
</body>

</html>