<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>AGREGAR SERVIVIOS</title>
</head>

<body>
<a href="/pagina1" class="btn btn-info">VOLVER A PRINCIPAL</a>
<a href="/inisesion" class="btn btn-info">Cerrar Sesión {{usuario.first_name}}</a>
    <form action="/servicio/agregar" method="post" class="col-6 mx-auto">
        <h2 class="text-center">Agregar Nuevo Servicio</h2>
                {% with messages = get_flashed_messages(category_filter=['servicio']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Atencion!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
        <div class="form-group">
            <label for="service_name">Nombre de Servicio:</label>
            <input type="text" name="service_name" class="form-control">
        </div>
        <div class="form-group">
                    <label for="description">Descripción de Servicio:</label>
                    <input type="text" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" name="precio" class="form-control"></textarea>
        </div>

        <input type="submit" value="Añadir Servicio" class="btn btn-success">
    </form>
    <hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Servicio</th>
            <th>Descripción</th>
            <th>Precios</th>
        </tr>
    </thead>
    {% for servicio in servicio1 %}

    <tr>
        <td>{{ servicio.id }}</td>
        <td>{{ servicio.service_name }}</td>
        <td>{{ servicio.description }}</td>
        <td>{{ servicio.precio }}</td>


        <td>
            {% if usuario.level == 1 %}
            <a href="/servicio/modificar/{{ servicio.id }}">Modificar</a>
            <a href="/servicio/eliminar/{{ servicio.id }}">Eliminar</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>
</body>

</html>